extends layout.pug

include utils.pug

block content
  table(class='table table-striped table-hover')
    thead(class='thead-dark')
      tr
        th(scope='col') Title
        th(scope='col') Author
        th(scope='col') Release Date
        th(scope='col') Page Count
        th(scope='col') Publisher
        th(scope='col') Rating
    tbody
      tr
        td= book.title
        td= book.author
        //- td= new Date(book.releaseDate).toLocaleDateString('en-US', { timeZone: 'UTC' })
        td= book.releaseDate
        td= book.pageCount
        td= book.publisher
        td= book.rating
  //- +validationErrorSummary(errors)
  form(action=`http://host.docker.internal:5000/ratings/${book.id}` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div(class='form-group')
      label(for='email') Email
      input(type='email' id='email' name='email' value='email' class='form-control')
    div(class='form-group')
      label(for='value') Rating
      select(id='value' name='value' class='form-control')
        each val in [...Array(11).keys()]
          option(value=val)= val
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Rate Book
      a(href='/' class='btn btn-warning ml-2') Cancel